ul{
	margin: 0;
	padding: 0;
	list-style: none;
	width: 720px;
	background: #159cb0 url('AdvancedImagens/fundo-horizontal.png') repeat-x;
	float: left; /* PODERIA TER SIDO UTILIZADO 'clear: both', MAS NESTE CASO É MAIS FÁCIL DEIXAR COMO FLOAT */
}

ul li{

	float: left;
}

ul a{
	display: block;
	padding: 0 2em;
	line-height: 2em;
	text-decoration: none;
	color: #fff;
	background: url('AdvancedImagens/divisor.png') repeat-y;
}

ul .primeiro a{
	background: none;
}

ul a:hover{
	color: #085662;
	background: #44cade;
}


 #home #navegacao .home a,
 #petshop #navegacao .petshop a{
	color: #085662;
	background: #44cade;
}
