/* HERANÇA E ESPICIFICIDADE */

/*
body{
	color: red;
}*/

/* SE UM SELETOR FOR MAIS ESPECÍFICO QUE OUTRO, A REGRA MAIS ESPECÍFICA SERÁ APLICADA (TERÁ PRECEDÊNCIA SOBRE REGRAS MAIS GERAIS) */

* {
	color: pink;
}

h1 {
	color:red;
}

h1.brown {
	color: brown;
}

h1#amarelo{
	color: yellow;
}